<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thoughtworks.blipit"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".activities.BlipItActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="time.between.loc.updates.in.millis" android:value="@string/time_between_loc_updates_in_millis" />
        </activity>

        <activity android:name=".activities.BlipItPrefActivity" android:label="@string/blipit_prefs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="blipit.service.url" android:value="@string/blipit_service_url" />
        </activity>

        <service android:name=".services.BlipNotificationService" android:process=":blipitRemote" >
            <meta-data android:name="blipit.service.url" android:value="@string/blipit_service_url" />
        </service>

        <uses-library android:name="com.google.android.maps"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
